##
## SPIFFE Maintainers
##

*  @evan2645 @justinburke @spikecurtis @azdagron

/CODE-OF-CONDUCT.md @spiffe/ssc
/GOVERNANCE.md      @spiffe/ssc
/MATURITY.md        @spiffe/ssc
/NEW_PROJECTS.md    @spiffe/ssc
/README.md          @spiffe/ssc
/community/         @spiffe/ssc
/ssc/               @spiffe/ssc

